@import 'variable';
@import 'mixin';

input::-ms-clear, input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display: none; }

$input_height : 34px;
$input_line_height : 24px;

//인풋 text
input[type="number"], input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="phone"], input[type="tel"]{
  appearance: none;
  outline: none; overflow: hidden; text-indent: 0.01px; text-overflow: ''; border-radius: 0; display: block; background-color: white;
  height: $input_height; line-height: $input_line_height; font-size: $font_m;
  width:100%; padding: 5px 10px; border: 1px solid $color_gray_b7; max-width: 600px;
}
input[type="text"]:disabled, select:disabled { background: #f3f3f3 !important; }


//라디오 스타일
.radio_wrap {
  label:last-of-type { margin-right: 0; }
  label { height: 20px; line-height: 20px; font-size: 14px; margin-right: 10px; }
  [type="radio"]:checked, [type="radio"]:not(:checked) { position: absolute; left: -9999px; }
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label { display: inline-block; position: relative; padding-left: 26px; cursor: pointer; }
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    width: 18px; height: 18px;
    border: 1px solid $main_c_01 !important;
    border-radius: 100%;
    background: $main_c_01 !important;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before { content: '';
    position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    width: 18px; height: 18px;
    border: 1px solid #B7B7B7; border-radius: 100%; background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after { content: '';
    width: 10px; height: 10px;
    background: white; border: 1px solid white; position: absolute;
    top: 5px; left: 4px; border-radius: 100%; transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0); transition: 0.2s; }
  [type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); transition: 0.2s; }

  [type="radio"]:disabled {  }
  [type="radio"]:disabled + label { color: #999 !important; }
}







//공통 체크박스 스타일
.checkbox_wrap{ position: relative; display: inline-block;
  input[type="checkbox"] { display: none;
    & + label { font-size: $font_m; line-height: $font_m; position: relative; padding: 0 7px 0 30px; display: inline-block; min-width: 14px; min-height: 14px; margin-right: 5px; }

    // Box.
    & + label:before {
      content: ''; display: inline-block; position: absolute;
      left: 0; top: 50%; transform: translateY(-50%);
      width: 22px; height: 22px; background: white; border: 1px solid #B7B7B7;
      transition: all 0.2s ease-in;
    }
    &:checked + label:before { background: $main_c_01; border-color: $main_c_01; }
    &:checked + label:after { content: ''; position: absolute; left: 8px; top: calc( 50% - 2.5px); transform: rotate(-45deg) translateY(-50%); width: 12px; height: 7px; border-bottom: 2px solid white; border-left: 2px solid white; transition: all 0.2s ease-in; }

    &:disabled + label { color: #b8b8b8; }
    &:disabled + label:before { background: #ddd; border-color: #ddd; }

    & + label, & + label:before, &:checked + label:after { cursor: pointer; }
  }
}

.only_checkbox_wrap {
  input[type="checkbox"] { display: none;
    & + label { font-size: 0; position: relative; cursor: pointer; padding: 0; display: inline-block; width: 22px; height: 22px; }

    // Box.
    & + label:before {
      content: ''; display: inline-block; position: absolute;
      top: 50%; transform: translateY(-50%); left: 0;
      width: 22px; height: 22px; background: white; border: 1px solid #B7B7B7; cursor: pointer;
      transition: all 0.2s ease-in;
    }
    &:checked + label:before { background: $main_c_01; border-color: $main_c_01; }
    &:checked + label:after { content: ''; position: absolute; left: 6px; top: 6px; transform: rotate(-45deg); width: 10px; height: 7px; border-bottom: 2px solid white; border-left: 2px solid white; cursor: pointer; transition: all 0.2s ease-in; }

    &:disabled + label { color: #b8b8b8; cursor: auto; }
    &:disabled + label:before { box-shadow: none; background: #ddd; border-color: #bbb; }
  }
}




//공통 셀렉터 스타일
.select_wrap { width: 100%; display: inline-block; float: left; }
select::-ms-expand { display:none; }
select { appearance: none; $select_color:444;
  width: 100%;
  max-width: 600px;
  color: $color_gray_4; font-size: $font_m;
  outline : none;
  overflow : hidden;
  text-indent : 0.01px;
  text-overflow : '';
  border-radius: 0;
  display: block;
  padding: 0 20px 0 5px !important;
  height: $input_height; line-height: $input_line_height;
  border: 1px solid $color_gray_b7;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 6'%3E%3Cpath d='M.146.146a.5.5 0 01.708 0L5.5 4.793 10.146.146a.5.5 0 01.708.708l-5 5a.5.5 0 01-.708 0l-5-5a.5.5 0 010-.708z' fill='%23#{$select_color}'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50%;
  background-size: 10px;
}

//.image_search_box{ width: 100%; text-align: center; margin:40px 0 60px 0; font-weight:bold;
//  img{ width:260px; margin-bottom:40px; }
//}
//@media(max-width: 980px) {
//  .image_search_box{ width: 100%; text-align: center; margin:40px 0 60px 0; font-weight:bold;
//    img{ width:100%; margin-bottom:20px;}
//  }
//}




//라벨 인풋
.label_but_wrap {
  input[type="checkbox"] { position: absolute; opacity: 0;
    & + label { display: inline-block; font-size: 14px; cursor: pointer; padding: 0 15px; height: 40px; line-height: 40px; margin-right: 10px; background: #333; color: white; text-align: center; transition: all 0.1s ease-in; }
    &:checked + label { background: #00b0ff; transition: all 0.1s ease-in; }
  }
}

//켈린더
.date_input_wrap { height: 40px; line-height: 40px;
  input { width: 120px; float: left;
  appearance: none; font-size: $font_s;
  height: calc(#{$input_height} - 6px); line-height: calc(#{$input_line_height} - 6px);
  outline : none; overflow : hidden; text-indent : 0.01px; text-overflow : ''; border-radius: 0; display: block; padding: 5px;
  border: 1px solid $color_gray_b7;
  background: url('../../assets/img/admin/icon/calendar_icon.png') no-repeat white calc(100% - 5px) 50%;
  }
  > span { float: left; padding: 0 10px; height: calc(#{$input_height} - 6px); line-height: calc(#{$input_line_height} + 6px); font-size: $font_s; }
}
.bootstrap-datetimepicker-widget { position: absolute !important; }
.day_wrap { font-size: 0; display: inline-block;
  > * { float: left; }
  select { width: 120px; margin-right: 5px; height: calc(#{$input_height} - 6px); line-height: calc(#{$input_line_height} - 6px); font-size: $font_xs; }
  a { display: inline-block; margin-right: 5px; padding: 5px; font-size: $font_xs; border: 1px solid $color_gray_b7; height: calc(#{$input_height} - 6px); line-height: calc(#{$input_line_height} - 6px); }
  a:last-child { margin-right: 0; }
  a.on { color: $main_c_01; border-color: $main_c_01; }
}


//카운트
.count {
  a { float: left; width: 40px; text-align: center; border: 1px solid #aaa; height: 40px !important; line-height: 40px !important; background-size: 25px !important; }
  input { float: left; width: calc(100% - 80px); border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; border-left: 0; border-right: 0; text-align: center; }
  //.minus_but { background: url('../../images/icon/icon_minus.png') no-repeat center; }
  //.plus_but { background: url('../../images/icon/icon_plus.png') no-repeat center; }
  @media (max-width: 980px) {
    a { width: 50%; height: 25px; line-height: 25px; background-size: 15px !important; }
    a:first-of-type { border-right: 0; }
    input { line-height: 25px; height: 25px; width: 100%; border-top: 1px solid #aaa; border-bottom: 0; border-left: 1px solid #aaa; border-right: 1px solid #aaa; }
  }
}

//공통 텍스트에어리어
textarea { padding: 5px 10px; width: 100%; resize: vertical; min-height: 50px; }

//제이쿼리 벨리데이션
label.error { color: red; }


//셀렉트 + 인풋
.select_input_wrap {
  > * { display: inline-block; float: left; }
  select { width: 120px; margin-right: 10px; }
  input { width: calc(100% - 120px - 10px); }
}
.mini_select { width: 40px !important; font-size: $font_m; }

.select_div_wrap {
  > * { display: inline-block; float: left; margin-right: 5px; }
  > *:last-child { margin-right: 0; }
  select { width: 120px; height: 30px; line-height: 30px; font-size: 14px; font-weight: normal; }
}
.only_select_wrap {
  > * { display: inline-block; float: left; margin-right: 5px; }
  select { width: auto; height: 25px; line-height: 24px; font-size: 10px; font-weight: 500;
    &.line {  border: 1px solid $main_c_01; color: $main_c_01; }
  }
}

//주소 - 인풋 + 주소찾기 버튼
.address_wrap {
  > * { margin-bottom: 10px; }
  > *:last-child { margin-bottom: 0; }
  input:first-child { width: calc(100% - 70px); float: left; margin-right: 10px; }
  a {
    float: left; color: white; background: #14CCB3; width: 60px; text-align: center; border-radius: 3px; font-size: 12px;
    height: 30px; line-height: 30px; }
  input { width: 100%; clear: both; }
}
//단위있는 인풋 인풋 + 태그
.input_unit_wrap { display: inline-block; width: 100%;
  input { width: calc(100% - 70px); float: left; margin-right: 10px; }
  div, span { float: left; width: 60px; font-size: 12px; height: 34px; line-height: 34px; }
}


*::placeholder { font-size: $font_s; }

//넘버 인풋 버튼 삭제
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none;   margin: 0; }


.mount_child__btn_wrap { display: inline-block; float: left;
  > *:first-child { display: inline-block; float: left; margin-right: 10px;  }
  > *:first-child *{ width: 100px; float: left; display: inline-block; margin-right: 10px; text-overflow: ellipsis; }
  > *:first-child *:last-child { margin-right: 0; }
  > *:last-child, .fix { width: 80px; float: left;
    a { @extend .but_style; height: calc(#{$a_height} - 6px); line-height: calc(#{$a_line_height} - 10px); border-radius: 0 !important; width: 100% !important; min-width: auto !important; }
  }
}
.mount_li__btn_wrap {
  > * { display: inline-block; float: left; }
  .v_select_wrap { width: 100%; max-width: calc(100% - 68px - 5px - 10px); margin-right: 5px; }
  a { width: 34px; height: 34px; background: white; color: $color_gray_b7; border: 1px solid $color_gray_b7 !important; margin-right: 5px; }
  a:last-of-type { background: $color_gray_b7; color: white; border: 1px solid white; margin-right: 0; }
}

.input_file_wrap {
  input[type='file'] { display: none; }
  label { @extend .small_but_style; }
}
.even_child_wrap {
  > * { display: inline-block; float: left; }
  > * { width: calc(50% - 10px); margin-right: 10px; margin-bottom: 10px; }
  > *:nth-child(2n+2) { margin-right: 0; }
}


.delivery_service_edit_wrap { display: inline-block; float: left; line-height: 34px;
  > * { margin-right: 5px; display: inline-block; float: left; }
  > *:last-child { margin-right: 0; }
  select { width: 165px; }
  input { width: 200px; }
}

.text_input_wrap { display: inline-block; margin-top: 10px;
  > * { float: left; display: inline-block; margin-right: 5px; line-height: 34px; }
  > *:last-child { margin-right: 0; }
  input { width: 120px; }
  a { @extend .small_but_style; }
}

//input + a
.input_but_wrap {
  > * { display: inline-block; float: left; margin-right: 10px; }
  > *:last-child { margin-right: 0; }
  input, select { width: calc(100% - 110px) !important;  }
  a { width: 100px; @extend .small_but_style; }
  .line_but { color: $main_c_01; border: 1px solid $main_c_01; background: white !important; }
  .black_line_but { color: black; border: 1px solid black; background: white !important; }
  .gray_but { color: white; border: 1px solid $color_gray_4; background: $color_gray_7 !important; }
  .gray_but_light { color: black; border: 1px solid $color_gray_4; background: $color_gray_f3 !important; }
}

//input 1 + a 2
.input_but_two_wrap {
  > * { display: inline-block; float: left; margin-right: 10px; }
  > *:last-child { margin-right: 0; }
  input, select { width: calc(100% - 220px) !important;  }
  a { width: 100px; @extend .small_but_style; }
  .line_but { color: $main_c_01; border: 1px solid $main_c_01; background: white !important; }
  .black_line_but { color: black; border: 1px solid black; background: white !important; }
  .gray_but { color: white; border: 1px solid $color_gray_4; background: $color_gray_7 !important; }
  .gray_but_light { color: black; border: 1px solid $color_gray_4; background: $color_gray_f3 !important; }
}

//div + input, input + div
.input_div_wrap {
  > * { display: inline-block; float: left; margin-right: 10px; }
  > *:last-child { margin-right: 0; }
  input { width: calc(100% - 110px) !important;  }
  div { width: 100px; }
}


.change_list_wrap { @extend .d_ib_100;
  li { @extend .d_ib_100; float: left; margin-bottom: 5px;
    > * { margin-right: 5px; float: left; display: inline-block; }
    > *:last-child { margin-right: 0; }
    &:last-of-type { margin-bottom: 0; }
    input { width: calc(100% - 110px); }
    a { width: $input_height; height: $input_height; line-height: $input_height; padding: 0; text-align: center; }
    a:nth-of-type(1) { background: $color_gray_7; color: white; }
    a:nth-of-type(2) { border: 1px solid $color_gray_7; color: $color_gray_7;}
  }
}


//배송비 아코디언
.div_a_wrap {
  > * { display: inline-block; float: left; margin-right: 10px; }
  > *:last-child { margin-right: 0; }
  div { width: calc(100% - 60px) !important;  }
  a { width: 50px; }
}

.calculate_day_wrap {
  > * { display: inline-block; float: left; margin-right: 10px; }
  > *:last-child { margin-right: 0; }
  select { width: 120px; }
}


// 최근 검색어 박스
.category_search_word_wrap { position: absolute; top: 70%; width: 100%; max-width: 230px; border: 1px solid #14CCB3; background-color: rgba(255, 255, 255, 0.9); border-radius: 5px; z-index: 99; box-shadow: 4px 4px 5px -5px;
  .search_word_empty { padding: 25px 0; text-align: center; }
  .category_search_word_box { width: 100%; margin: 15px 0;
    li { width: 100%; padding: 0 10px; margin: 3px 0;
      .keyword { float: left; width: 90%; }
      .delete_icon { float: right; width: 10px; height: 10px; margin: 4px 0;
        img { width: 10px; height: 10px; }
      }
    }
  }
}

.text_length_notation_input_wrap { position: relative; display: block; max-width: 600px;
  input { padding: 5px 55px 5px 10px; }
  .text_length_wrap {
    em { color: $main_c_01; position: relative; display: inline-block; font-size: 16px; margin-right: 8px;
      &:before { content: ""; position: absolute; right: -6px; top: 50%; transform: translateY(-50%) rotate(17deg); width: 1px; height: 70%; background: #707070; }
    }
    position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: inline-block; padding: 3px 5px; }
}

.vue-select_wrap { max-width: 600px; }
